@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    letter-spacing: inherit;
  }
  body {
    background-color: #fbfbf6;
  }

  a:focus {
    outline: none;
  }
}

@layer components {
  .linkTextNavigation {
    @apply decoration-[0.1em] underline-offset-[0.1em] hover:underline;
  }

  .portableText {
    ol {
      list-style-type: decimal;
    }
    ol ol {
      list-style-type: lower-alpha;
    }
    ol ol ol {
      list-style-type: lower-roman;
    }

    ul {
      list-style: disc outside;
    }
    ul ul {
      list-style: circle outside;
    }
    ul ul ul {
      list-style: square outside;
    }
  }

  .select {
    align-items: center;
    background-color: theme("colors.lightGray");
    border-radius: theme("borderRadius.full");
    color: theme("colors.offBlack");
    display: flex;
    font-size: theme("fontSize.sm");
    font-weight: theme("fontWeight.bold");
    height: 2.5rem;
    justify-content: center;
    letter-spacing: theme("letterSpacing.normal");
    overflow: hidden;
    padding: theme("padding.4");
    transition: all 200ms ease-out;
  }

  .select:disabled {
    color: theme("colors.darkGray");
  }

  .select:hover:not(:disabled) {
    opacity: 0.9;
  }
}

@layer utilities {
  .font-thin {
    font-variation-settings: "EXPO" 40;
  }
  .font-extralight {
    font-variation-settings: "EXPO" 30;
  }
  .font-light {
    font-variation-settings: "EXPO" 20;
  }
  .font-normal {
    font-variation-settings: "EXPO" 10;
  }
  .font-medium {
    font-variation-settings: "EXPO" 0;
  }
  .font-semibold {
    font-variation-settings: "EXPO" -10;
  }
  .font-bold {
    font-variation-settings: "EXPO" -20;
  }
  .font-extrabold {
    font-variation-settings: "EXPO" -30;
  }
  .font-black {
    font-variation-settings: "EXPO" -40;
  }

  .grid-container {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
  }
}

@font-face {
  font-family: "Exposure";
  src: url("./fonts/ExposureTrialVAR.woff2") format("woff2-variations");
}

* {
  font-variant-ligatures: none;
}

html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

h1,
.heading-1 {
  font-variation-settings: "EXPO" -20;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -0.1px;
}

h2,
.heading-2 {
  font-variation-settings: "EXPO" -20;
  font-size: 56px;
  line-height: 64px;
}

h3,
.heading-3 {
  font-variation-settings: "EXPO" -20;
  font-size: 24px;
  line-height: 28px;
}

h4,
.heading-4 {
  font-variation-settings: "EXPO" -20;
  font-size: 16px;
  line-height: 18px;
}

p,
.text-body {
  font-variation-settings: "EXPO" -20;
  font-size: 16px;
  line-height: 19px;
}

p.body-small,
small {
  font-variation-settings: "EXPO" -20;
  font-size: 14px;
  line-height: 17px;
}

caption,
.caption {
  font-variation-settings: "EXPO" -20;
  font-size: 12px;
  line-height: 14px;
}
